---
---

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="La Capsule" />
	
	<meta name="description" content="Un lieu de partage artistique et culturel à Sherbrooke, le tout associé à une salle à manger conviviale" />
	<meta name="keywords" content="capsule,bistro,bistrot,cinema,film,restaurant" />

	<!-- for Facebook -->          
	<meta property="og:title" content="La Capsule Bistro Cinema" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="http://lacapsule.ca/img/la-capsule.png" />
	<meta property="og:url" content="http://lacapsule.ca/" />
	<meta property="og:description" content="Un lieu de partage artistique et culturel à Sherbrooke, le tout associé à une salle à manger conviviale" />


	<!-- Stylesheets
	============================================= -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="css/calendar.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- Document Title
	============================================= -->
	<title>La Capsule Bistro-Cinema</title>

	<style type="text/css">
		#owl-demo .item {
		  margin: 3px;
		  cursor: pointer;
		}
		#owl-demo .item img {
		  display: block;
		  width: 100%;
		  height: auto;
		}
		.small-thumbs .entry-image, .ievent .entry-image { width: 200px; }
	</style>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="img/la-capsule-logo-clair.png"><img src="img/la-capsule-logo-couleur.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="img/la-capsule-logo-clair.png"><img src="img/la-capsule-logo-noir.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="dark">
						<ul class="one-page-menu">
							<li class="current"><a href="#" data-href="#accueil"><div>Accueil</div></a></li>
							<li class="current"><a href="#" data-href="#menu"><div>Menu</div></a></li>
							<li class="current"><a href="#" data-href="#calendrier"><div>Calendrier</div></a></li>
							<li class="current"><a href="#" data-href="#abonnement"><div>Abonnement</div></a></li>
							<li class="current"><a href="#" data-href="#cuisine"><div>Cuisine Collective</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
			<div id="accueil" class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('img/capsule-9642.jpg');">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center">
									<h2 data-caption-animate="fadeInUp">Bistro &amp; Cinéma</h2>
									<p data-caption-animate="fadeInUp" data-caption-delay="200">Un lieu de partage artistique et culturel à Sherbrooke, le tout associé à une salle à manger conviviale
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>

				<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap nobottompadding">

				<div class="container bottommargin">
					<div class="row clearfix">

						<div class="col-lg-5">
							<div class="heading-block">
								<h1>Un écran, un film, une soirée à votre image</h1>
							</div>
							<p class="lead">La Capsule est un concept qui associe cinéma et bistro. Chaque jour est unique, puisque chaque jour nous vous présentons un film différent parmi un vaste répertoire. Durant la projection, nous offrons un menu bistro ainsi que des boissons variées.</p>

							<p class="lead">
								<a href="mailto:info@lacapsule.ca" class="button button-desc button-3d button-rounded button-teal center">
									Réservation
								</a>
							</p>


						</div>

						<div class="col-lg-7">

							<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
								<img src="img/capsule-9658.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="400" alt="iPad">
							</div>
						</div>

					</div>
				</div>

				<div id="menu" class="section nobottommargin">
					<div class="container clearfix">
						<div class="fancy-title title-dotted-border title-center">
							<h1>Menu</h1>
						</div>

						<div class="accordion accordion-border clearfix">

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Menu midi</div>
							<div class="acc_content clearfix">
								<ul>
									{% for item in site.data.menu.midi %}
										<li>{{ item }}</li>
									{% endfor %}
								</ul>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Menu bistro</div>
							<div class="acc_content clearfix">
								<div class="container">
									<div class="row">
										<div class="col-sm-6">
											<ul>
												{% for item in site.data.menu.bistro.partie-1 %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										</div>
										<div class="col-sm-6">
											<ul>
												{% for item in site.data.menu.bistro.partie-2 %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="acctitle"><i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Menu déjeuner</div>
							<div class="acc_content clearfix">
								<div class="container">
									<div class="row">
										<div class="col-sm-6">
											<ul>
												{% for item in site.data.menu.dejeuner.partie-1 %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										</div>
										<div class="col-sm-6">
											<ul>
												{% for item in site.data.menu.dejeuner.partie-2 %}
													<li>{{ item }}</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>


				<div id="calendrier" class="parallax bottommargin-lg dark" style="padding: 60px 0; background-image: url('img/calendrier.jpg'); background-repeat: repeat-y; height: auto;" data-stellar-background-ratio="0.3">

					<div class="container clearfix">

						<div class="events-calendar">
							<div class="events-calendar-header clearfix">
								<h2>Nos projections</h2>
							</div>

							<div id="owl-demo">

								{% for movie in site.data.movies %}
									<div class="item" data-toggle="popover" data-html="true" data-container="#content" title="{{ movie.title }}" data-trigger="focus hover" data-placement="top" data-content="{{ movie.description }}"><img src="{{ movie.poster }}" alt="{{ movie.title }}"></div>
								{% endfor %}

							</div>

						</div>
					</div>
				</div>


				<div id="abonnement" class="container clearfix">

					<div class="heading-block center">
						<h3><span>Abonnez-vous</span> pour recevoir l'horaire des films</h3>
					</div>

					<div class="">
						<form action="//lacapsule.us14.list-manage1.com/subscribe?u=5231fa9d4d33760ba29b865c3&id=ce81c19d03" role="form" method="post" target="_blank" class="nobottommargin">
							<div class="input-group input-group-lg divcenter" style="max-width:600px;">
								<span class="input-group-addon"><i class="icon-email2"></i></span>
								<input type="email" name="MERGE0" class="form-control required email" placeholder="Entrez votre courriel">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">S'inscrire</button>
								</span>
							</div>
						</form>
					</div>

				</div>

				<div id="cuisine" class="section nobottommargin">
					<div class="container clearfix">
						<div class="fancy-title title-dotted-border title-center">
							<h1>Cuisine Collective</h1>
						</div>

						<br><br><br>

						<div class="postcontent col-md-offset-2 nobottommargin clearfix">
							<div class="small-thumbs">
								<div class="entry clearfix">
									<div class="entry-image">
										<img src="img/ciboulette.jpeg" alt="ciboulette" />
									</div>
									<div class="entry-c">
										<div class="entry-title">
											<h2>Ciboulette</h2>
										</div>
										<div class="entry-content">
											<p>Ciboulette offre des plats végétariens qui sont prêts à cuire et livrés partout à Sherbrooke.</p>
										</div>
									</div>
								</div>

								<div class="entry clearfix">
									<div class="entry-image">
										<img src="img/fumoir.png" alt="ciboulette" />
									</div>
									<div class="entry-c">
										<div class="entry-title">
											<h2>Le fumoir</h2>
										</div>
										<div class="entry-content">
											<p>Le Fumoir produit et distribue des aliments locaux fumés de style Memphis BBQ (porc, bœuf, poulet, poisson, etc.) à des particuliers ainsi qu’à des entreprises locales (bars, restaurants, micro-brasserie, etc.).</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">
							<div class="widget clearfix">
								<img src="img/la-capsule-logo-clair.png" alt="" class="footer-logo">
							</div>
						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<div style="background: url('images/world-map.png') no-repeat center center; background-size: 100%;">
									<br><br>
									<address>
										<strong>Adresse :</strong><br>
										38 Wellington Sud<br>
										Sherbrooke, Qc J1G5C7<br>
									</address>
									<abbr title="Email Address"><strong>Courriel:</strong></abbr> info@lacapsule.ca
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix">
							<h5><strong>Abonnez-vous</strong> à notre infolettre pour recevoir l'horaire des films à chaque mois:</h5>
							<div class="widget-subscribe-form-result"></div>

							<form action="//lacapsule.us14.list-manage1.com/subscribe?u=5231fa9d4d33760ba29b865c3&id=ce81c19d03" role="form" method="post" target="_blank" class="nobottommargin">
								<div class="input-group divcenter">
									<span class="input-group-addon"><i class="icon-email2"></i></span>
									<input type="email"  name="MERGE0" class="form-control required email" placeholder="Entrez votre adresse courriel">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">S'inscrire</button>
									</span>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-md-6 clearfix bottommargin-sm">
									<a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
										<i class="icon-facebook"></i>
										<i class="icon-facebook"></i>
									</a>
									<a href="https://www.facebook.com/La-Capsule-Bistro-Cinéma-482867185235658" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Aimez</strong><br>notre page Facebook</small></a>
								</div>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						Copyrights &copy; 2016 Tous droits réservé par La Capsule<br>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
						</div>

						<div class="clear"></div>

					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

	<script type="text/javascript">
		jQuery(document).ready( function($){
			 $("#owl-demo").owlCarousel({

	      autoPlay: 3000, //Set AutoPlay to 3 seconds

	      items : 4,
	      itemsDesktop : [1199,3],
	      itemsDesktopSmall : [979,3],
	      lazyLoad : true,

		  });

		});
	</script>

</body>
</html>
