---
layout: default
---


<header id="header" class="transparent-header" data-sticky-class="not-dark">
	<div id="header-wrap">
		<div class="container clearfix">
			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="img/la-capsule-logo-clair.png">
          <img src="img/la-capsule-logo-couleur.png" alt="La Capsule Logo">
        </a>
				<a href="index.html" class="retina-logo" data-dark-logo="img/la-capsule-logo-clair.png">
          <img src="img/la-capsule-logo-noir.png" alt="La Capsule Logo">
        </a>
			</div>

			<nav id="primary-menu" class="dark">
				<ul class="one-page-menu">
					<li class="current"><a href="#" data-href="#accueil"><div>Accueil</div></a></li>
					<li class="current"><a href="#" data-href="#abonnement"><div>Abonnement</div></a></li>
					<li class="current"><a href="#" data-href="#menu"><div>Menu</div></a></li>
					<li class="current"><a href="#" data-href="#calendrier"><div>Calendrier</div></a></li>
					<li class="current"><a href="#" data-href="#footer"><div>Contact</div></a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>

<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">
	<div id="accueil" class="slider-parallax-inner">

		<div class="swiper-container swiper-parent">
			<div class="swiper-wrapper">
				<div class="swiper-slide dark" style="background-image: url('img/capsule-9642.jpg');">
					<div class="container clearfix">
						<div class="slider-caption slider-caption-center">
							<h2 data-caption-animate="fadeInUp">Bistro &amp; Cinéma</h2>
							<p data-caption-animate="fadeInUp" data-caption-delay="200">Un lieu de partage artistique et culturel à Sherbrooke, le tout associé à une salle à manger conviviale
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<a href="#" data-scrollto="#content" data-offset="100" class="dark one-page-arrow"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

	</div>
</section>


<section id="content">
	<div class="content-wrap nobottompadding">

		<div class="container bottommargin">
			<div class="row clearfix">

				<div class="col-lg-5">
					<div class="heading-block">
						<h1>Un écran, un film, une soirée à votre image</h1>
					</div>

					<p class="lead">La Capsule est un concept qui associe cinéma et bistro. Chaque jour est unique, puisque chaque jour nous vous présentons un film différent parmi un vaste répertoire. Durant la projection, nous offrons un menu bistro ainsi que des boissons variées.</p>
				</div>

				<div class="col-lg-7">
					<div style="position: relative; margin-bottom: -60px;" class="ohidden" data-height-lg="426" data-height-md="567" data-height-sm="470" data-height-xs="287" data-height-xxs="183">
						<img src="img/capsule-9658.jpg" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="400" alt="iPad">
					</div>
				</div>
			</div>
		</div>

		<div id="abonnement" class="container clearfix bottommargin">
			<br /><br /><br />
			<div class="heading-block center">
				<h3><span>Abonnez-vous</span> pour recevoir l'horaire des films</h3>
			</div>

			<div class="">
				<form action="//lacapsule.us14.list-manage1.com/subscribe?u=5231fa9d4d33760ba29b865c3&id=ce81c19d03" role="form" method="post" target="_blank" class="nobottommargin">
					<div class="input-group input-group-lg divcenter" style="max-width:600px;">
						<span class="input-group-addon"><i class="icon-email2"></i></span>
						<input type="email" name="MERGE0" class="form-control required email" placeholder="Entrez votre courriel">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">S'inscrire</button>
						</span>
					</div>
				</form>
			</div>
			<br /><br /><br />
		</div>

		<div id="menu" class="bottommargin">
			<div class="container clearfix">
				<div class="fancy-title title-dotted-border title-center">
					<h1>Menu</h1>
				</div>

				<div class="accordion accordion-border clearfix">

					<div class="acctitle">
            <i class="acc-closed icon-ok-circle"></i>
            <i class="acc-open icon-remove-circle"></i>
            Menu midi
          </div>

					<div class="acc_content clearfix">
						<ul>
							{% for item in site.data.menu.midi %}
              <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="acctitle">
            <i class="acc-closed icon-ok-circle"></i>
            <i class="acc-open icon-remove-circle"></i>
            Menu bistro
          </div>

          <div class="acc_content clearfix">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    {% for item in site.data.menu.bistro.partie-1 %}
                      <li>{{ item }}</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="col-sm-6">
                 <ul>
                  {% for item in site.data.menu.bistro.partie-2 %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="acctitle">
          <i class="acc-closed icon-ok-circle"></i>
          <i class="acc-open icon-remove-circle"></i>
          Menu déjeuner
        </div>
        <div class="acc_content clearfix">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  {% for item in site.data.menu.dejeuner.partie-1 %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  {% for item in site.data.menu.dejeuner.partie-2 %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrap nobottompadding">
    <div
      id="calendrier"
      class="parallax bottommargin-lg dark"
      style="padding: 60px 0; margin-bottom: 0 !important; background-image: url('img/calendrier.jpg'); background-repeat: repeat-y; height: auto;"
      data-stellar-background-ratio="0.3"
    >
      <div class="container clearfix">
        <div class="events-calendar">
          <div class="events-calendar-header clearfix">
            <h2>Nos projections</h2>
          </div>

          <div id="owl-demo">
            {% for movie in site.data.movies %}
              <div
                class="item"
                data-toggle="popover"
                data-html="true"
                data-container="#content"
                title="{{ movie.title }}"
                data-trigger="focus hover"
                data-placement="top"
                data-content="{{ movie.description }}"
              >
                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

