<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_third">

        <div class="col_one_third">
          <div class="widget clearfix">
            <img src="/img/la-capsule-logo-clair.png" alt="" class="footer-logo">
          </div>
        </div>

        <div class="col_one_third">

          <div class="widget widget_links clearfix">

            <div style="background: url('/images/world-map.png') no-repeat center center; background-size: 100%;">
              <br><br>
              <address>
                <strong>Adresse :</strong><br>
                38 Wellington Sud<br>
                Sherbrooke, Qc J1H5C7<br>
              </address>
              <abbr title="Phone"><strong>Téléphone:</strong></abbr> 819-563-1234 <br>
              <abbr title="Email"><strong>Courriel:</strong></abbr> info@lacapsule.ca
            </div>
          </div>

        </div>

        <div class="col_one_third col_last">

          <div class="widget widget_links clearfix">

            <div>
              <br><br>
                <strong>Heures d'ouvertures:</strong><br>
                <strong>Lundi:</strong> 9 AM - 10 PM<br>
                <strong>Mardi/vendredi:</strong> 11 AM - 10 PM<br>
                <strong>Samedi:</strong> 5 PM - 10 PM<br>
                <strong>Dimanche:</strong> 7 AM - 2 PM<br>
            </div>
          </div>

        </div>

      </div>

      <div class="col_one_third col_last">

        <div class="widget clearfix">
          <h5><strong>Abonnez-vous</strong> à notre infolettre pour recevoir l'horaire des films à chaque mois:</h5>
          <div class="widget-subscribe-form-result"></div>

          <form action="//lacapsule.us14.list-manage1.com/subscribe?u=5231fa9d4d33760ba29b865c3&id=ce81c19d03" role="form" method="post" target="_blank" class="nobottommargin">
            <div class="input-group divcenter">
              <span class="input-group-addon"><i class="icon-email2"></i></span>
              <input type="email"  name="MERGE0" class="form-control required email" placeholder="Entrez votre adresse courriel">
              <span class="input-group-btn">
                <button class="btn btn-success" type="submit">S'inscrire</button>
              </span>
            </div>
          </form>
        </div>

        <div class="widget clearfix" style="margin-bottom: -20px;">

          <div class="row">

            <div class="col-md-6 clearfix bottommargin-sm">
              <a href="https://www.facebook.com/La-Capsule-Bistro-Cinéma-482867185235658" target="_blank" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
              </a>
              <a href="https://www.facebook.com/La-Capsule-Bistro-Cinéma-482867185235658" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Aimez</strong><br>notre page Facebook</small></a>
            </div>
            <div class="col-md-6 clearfix bottommargin-sm">
              <a href="https://www.instagram.com/capsule_bistro/" target="_blank" class="social-icon si-dark si-colored si-instagram nobottommargin" style="margin-right: 10px;">
                <i class="icon-instagram"></i>
                <i class="icon-instagram"></i>
              </a>
              <a href="https://www.instagram.com/capsule_bistro/" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Suivez-vous</strong><br>sur Instagram</small></a>
            </div>
            <div class="col-md-6 clearfix bottommargin-sm">
              <a href="mailto:info@lacapsule.ca" target="_blank" class="social-icon si-dark si-colored si-email3 nobottommargin" style="margin-right: 10px;">
                <i class="icon-email"></i>
                <i class="icon-email"></i>
              </a>
              <a href="mailto:info@lacapsule.ca" target="_blank"><small style="display: block; margin-top: 3px;"><strong>Écrivez-nous</strong><br>info@lacapsule.ca</small></a>
            </div>
          </div>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy; 2016 Tous droits réservé par La Capsule<br>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
        </div>

        <div class="clear"></div>

      </div>

    </div>

  </div>

</footer>